<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.mybatis_dev_HGS.dao.StudentMapper">
	<sql id="selectSql">
		select stud_id as studid, name, email, dob, phone from students
	</sql>

	<sql id="whereSql">
		<where>
			<if test="studId != null">
				stud_id = #{studId};
			</if>
		</where>
	</sql>
	
	<select id="selectStudentByNo" parameterType="Student"	resultType="Student">
		<!-- select stud_id as studid, name, email, dob, phone from students
		where stud_id = #{studId}; -->
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>

	<select id="selectStudentByAll" resultType="Student">
		<!-- select stud_id as studid, name, email, dob, phone from students -->
		<include refid="selectSql"/>
	</select>
	
	<insert id="insertStudent" parameterType="Student">
		<!-- select stud_id as studid, name, email, dob, phone from students -->
		<!-- <selectKey keyProperty="studId" resultType="int" order="BEFORE">
			select elearning.stud_id_seq.nextval from dual
		</selectKey> -->
			INSERT INTO students
			(stud_id, NAME, EMAIL, PHONE, DOB)
			VALUES(#{studId},#{name}, #{email}, #{phone}, #{dob});
	</insert>
	<update id="updateStudent" parameterType="Student">
		update students set name=#{name}, email=#{email}, phone=#{phone}, dob=#{dob}
		<include refid="whereSql"></include>
	</update>
	<delete id="deleteStudent" parameterType="int">
		delete from students
		where stud_id = #{studId};
	</delete>
</mapper>