<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.yi.mybatis_dev_HGS.dao.StudentMapper">
	<sql id="selectSql">
		select stud_id as studid, name, email, dob, phone from students
	</sql>

	<sql id="whereSql">
		<where>
			<if test="studId != null">
				stud_id = #{studId};
			</if>
		</where>
	</sql>
	
	<select id="selectStudentByNo" parameterType="Student"	resultType="Student">
		<!-- select stud_id as studid, name, email, dob, phone from students
		where stud_id = #{studId}; -->
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>

	<select id="selectStudentByAll" resultType="Student">
		<!-- select stud_id as studid, name, email, dob, phone from students -->
		<include refid="selectSql"/>
	</select>
	
	<insert id="insertStudent" parameterType="Student">
		<!-- select stud_id as studid, name, email, dob, phone from students -->
		<!-- <selectKey keyProperty="studId" resultType="int" order="BEFORE">
			select elearning.stud_id_seq.nextval from dual
		</selectKey> -->
			INSERT INTO students
			(stud_id, NAME, EMAIL, PHONE, DOB)
			VALUES(#{studId},#{name}, #{email}, #{phone}, #{dob});
	</insert>
	<update id="updateStudent" parameterType="Student">
		update students set name=#{name}, email=#{email}, phone=#{phone}, dob=#{dob}
		<include refid="whereSql"></include>
	</update>
	<delete id="deleteStudent" parameterType="int">
		delete from students
		where stud_id = #{studId};
	</delete>
	
	<!-- resultmap -->
	<resultMap type="Student" id="StudentResult">
		<id property="studId" column="stud_id" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="dob" column="dob" />
	</resultMap>
	
	<select id="selectStudentByAllForResultMap" resultMap="StudentResult">
		<include refid="selectSql"></include>
	</select>
	
	<!-- hasMap -->
	<select id="selectStudentByAllForHashMap" resultType="map">
		<include refid="selectSql"></include>
	</select>
	
	<resultMap type="Student" id="StudentWithAddressResult" extends="StudentResult">
		<result property="address.addrId" column="addr_id"/>
		<result property="address.street" column="street"/>
		<result property="address.city" column="city"/>
		<result property="address.state" column="state"/>
		<result property="address.zip" column="zip"/>
		<result property="address.country" column="country"/>
	</resultMap>
	<sql id="selectJoinAddressSql">
		select stud_id, name, email, phone, a.addr_id, street, city, zip, country
		from students s left outer join addresses a on s.addr_id=a.addr_id
	</sql>
	
	<select id="selectStudentByNoForResultMapExtends" parameterType="Student" resultMap="StudentWithAddressResult">
		<include refid="selectJoinAddressSql"/>
		<include refid="whereSql"/>
	</select>
	
	<resultMap type="Student" id="StudentWithAddressResult2" extends="StudentResult">
		<id property="studId" column="stud_id" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="dob" column="dob" />
		<result property="address.addrId" column="addr_id"/>
		<result property="address.street" column="street"/>
		<result property="address.city" column="city"/>
		<result property="address.state" column="state"/>
		<result property="address.zip" column="zip"/>
		<result property="address.country" column="country"/>
	</resultMap>
	
	<select id="selectStudentByNoForResultMapExtends2" parameterType="int" resultMap="StudentWithAddressResult2">
		select stud_id, name, email, phone, a.addr_id, street, city, zip, country
		from students s join addresses a on s.addr_id=a.addr_id
		where stud_id = #{studId};
	</select>
	
	<resultMap id="StudentAssociation" type="Student" extends="StudentResult">
		<association property="address" resultMap="kr.or.yi.mybatis_dev_HGS.dao.AddressMapper.AddressResult_"/>
	</resultMap>
	
	<select id="selectStudentByNoAssociation" parameterType="Student" resultMap="StudentAssociation">
		<include refid="selectJoinAddressSql"></include>
		<include refid="whereSql"/>
	</select>
	
	
	
	
	
	
	
</mapper>